{% extends 'app.html' %}



{% block title %}- Recuperar Password{% endblock title %}



{% block content %}

<div class="container">
<div style="margin-top:5%">



<div style="margin-top:5%">

        <article class="message is-info">
            <div class="message-body">
            <p style="text-align: center;">
			Por favor consulte o seu email para definir a sua palavra-passe.
            </p>
            </div>
        </article>
</div>
 
    
    <div style="text-align: center;position:center;margin-top:4%">
        <a href="{% url 'home' %}">
            <button  class="button">Continuar</button>
        </a>
    </div>





</div>



    {% endblock content %}

</div>