{% extends 'app.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home' %}">Início</a></li>
    <li><a href="{% url 'atividades:minhasAtividades' %}">Minhas Atividades</a></li>
    <li class="is-active"><a href="" aria-current="page"> Sessoes</a></li>
  </ul>
</nav>
  <form method="POST">
    {% csrf_token %}
  <div style="padding: 3rem 2vw 1rem">
         <div style="padding: 3rem 2vw 1rem;">

        <div class="steps is-success">

            <div class="step-item is-completed is-success">

                <div class="step-marker">

                    <span class="icon">

                        <i class="mdi mdi-flask mdi-22px"></i>

                    </span>

                </div>

                <div class="step-details">

                    <p class="step-title">Atividade</p>

                </div>

            </div>

            <div class="step-item is-completed is-success">

                <div class="step-marker">

                    <span class="icon">

                        <i class="mdi mdi-calendar-check mdi-22px"></i>

                    </span>

                </div>

                

                <div class="step-details">

                    <p class="step-title">Sessoes</p>

                </div>

            </div>



            <div class="step-item is-success">

                <div class="step-marker">

                    <span class="icon">

                        <i class="mdi mdi-check"></i>

                    </span>

                </div>

                <div class="step-details">

                    <p class="step-title">Concluir</p>

                </div>

            </div>

        </div>
    <section class="step-content">
        <div class="step-item">
          <div style="padding: 1rem 2vw 0px;">
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem; margin-bottom: 2rem;">Minhas Sessoes</h2>

            <div class="table ">
                            <div class="table-wrapper">
                                <table class="table has-mobile-cards is-hoverable">
                                    <thead>
                                        <tr>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                     Dia
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                     Horário
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th style=""></th>
                                        </tr>
                                    </thead>
                                    <tbody>    
                                        {% for sessao in sessions_activity %} 
                                        <tr id="sessao.id" draggable="false">
                                            <td data-label="Dia">{{sessao.dia}}</td>
                                            <td data-label="Nome">{{sessao.horarioid.inicio}} - {{sessao.horarioid.fim}}</td>
                                            <td>
                                            {% if check != 1 %}
                                               <a onclick="alert.render('Tem a certeza que deseja eliminar a sessão?','{% url 'atividades:eliminarSessao' sessao.id%}')">
                                                    <span class="icon has-text-danger">
                                                        <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                                                    </span>
                                                </a>
                                                {% else %}
                                                <a onclick="alert.warning('A atividade não poderá ficar sem sessões')">
                                                    <span class="icon has-text-danger">
                                                        <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                                                    </span>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr/>
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem; margin-bottom: 2rem;">Adicionar Sessao</h2>
            <div class="columns">
                    <div class="column is-2">
                      <div class="field" >
                        <label class="label">Dia</label>
                        <div class="control">
                          <div class="select is-fullwidth" >
                            <select id="diasessao" name="diasessao">
                              <option value="">Escolha um dia</option>
                              {% for dia in dias %}
                              <option value="{{dia|date:'Y-m-d'}}">{{dia}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                      <div class="column is-2">
                      <div class="field" >
                        <label class="label">Horário</label>
                        <div class="control">
                          <div class="select is-fullwidth" >
                            <select id="horarioid" name="horarioid" required>
                              <option value="">---------</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column is-1">
                        <div class="field" >
                        <label class="label"></label>
                        <br>
                          <div class="control">
                            <div class="has-text-centered">
                                <button class="button is-success" name="new" value="new">
                                    <span class="icon is-small">
                                        <i class="mdi mdi-plus"></i>
                                    </span>
                                    <span>Adicionar Sessão</span>
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
        <hr>
        </div>     
    </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
      <div class="level-left">
         <a  class="button is-medium is-outlined" href="{% url 'atividades:alterarAtividade' id %}" name="anterior" value="anterior">
            <span class="icon is-medium">
              <i class="mdi fa fa-arrow-left mdi-36px"></i>
            </span>
            <span>Anterior</span>
         </a>
      </div>
      <div class="level-right">
      {% if check > 0 %}
          <a id="concluir" href="{% url 'atividades:verResumo' id %}" class="button is-medium is-success is-outlined is-link" name="proximo" value="proximo">
            <span>Proximo</span>
            <span class="icon is-medium">
                  <i class="mdi mdi-forward mdi-36px"></i>
                </span>
          </a>
          {% else %}
            <a id="concluir" onclick="alert.warning('A Atividade não pode ser criada sem sessoes !','{% url 'atividades:minhasAtividades' %}')" class="button is-medium is-success is-outlined is-link" name="save" value="Save">
            <span>Proximo</span>
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</form>
</div>


<style>
  .label {
  font-weight: normal;
  }
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
<style>
    .dialog .modal-card .modal-card-body.is-titleless {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
</style>
{% endblock content %}
{% block scripts %}
<script>
    $("#diasessao").change(function()
    {
        var id= "{{id}}"
        console.log(id)
        var valuedia= $(this).val();
        $.ajax({
            url:"{% url 'atividades:verHorarios'%}",
            method: 'POST',
            data: { 
                'valuedia': valuedia,
                'id': id,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
                $("#horarioid").html(data)
            }

        })

    })    
</script>
{% endblock scripts %}


