{% extends 'app.html' %}
{% block content %}
{% load atividadestags %}
<div id="proporatividade" style="display: content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'atividades:consultarRoteiros' %}">Roteiro</a></li>
            <li class="is-active"><a href="" aria-current="page">Detalhe</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem">
        <!-- <div style="padding: 3rem 2vw 1rem;"> -->
            <section class="step-content">
                <div class="step-item">
                    <div style="padding: 1rem 2vw 0px">
                        <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                        Informação do roteiro
                        </h2>
                        <div class="columns">
                            <div class="column">
                            
                                <span>
                                <h3><b>Nome do Roteiro:&nbsp;&nbsp;</b>{{roteiro.nome}}</h3>
                                </span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                <h3><b>Descrição:</b></h3>
                                <div class="control">
                                    <textarea class="textarea" disabled>{{roteiro.descricao}}</textarea>
                                </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <h3><b>Ano:&nbsp;&nbsp;</b>{{roteiro.ano}}</h3>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <h3><b>Autor:&nbsp;&nbsp;</b>{{roteiro.coord.full_name}}</h3>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <h3><b>Dia Aberto:&nbsp;&nbsp;</b>{{roteiro.diaabertoid}}</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem; margin-bottom: 2rem;">Atividades do Roteiro</h2>

                        <div class="table ">
                            <div class="table-wrapper">
                                <table class="table has-mobile-cards is-hoverable">
                                    <thead>
                                        <tr>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                    Atividade
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                    Duração (em minutos)
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                    Tipo
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                    Local
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>    
                                        <tbody>
                                            {% for atividade in roteiro.atividaderoteiro_set.all %}
                                            <tr>
                                                <td data-label="Atividade">{{ atividade.atividade.nome }}</td>
                                                <td data-label="Horário">{{ atividade.duracao }}</td>
                                                <td data-label="Tipo">{{ atividade.atividade.tipo }}</td>
                                                <td data-label="Local">{{ atividade.atividade.espacoid }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr/>
                        <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem; margin-bottom: 2rem;">Dados das sessões do Roteiro</h2>
                        <div class="table ">
                            <div class="table-wrapper">
                                <table class="table has-mobile-cards is-hoverable">
                                    <thead>
                                        <tr>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                    Dia
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                    Horário
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                    Inscritos
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>    
                                        {% for sessao in roteiro.sessao_set.all %}
                                        <tr>
                                            <td data-label="dia">{{ sessao.dia }}</td>
                                            <td data-label="horario">{{ sessao.horarioid.inicio }} - {{sessao.horarioid.fim }}</td>
                                            <td data-label="inscritos">{{ sessao.ninscritos }}/{{sessao.vagas|add:sessao.ninscritos}}</td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
                
            </section>
        <!-- </div> -->
        
        <div class="column is-8 is-offset-2">
            <button class="button is-medium is-outlined" name="anterior" value="anterior" onclick="window.location.href='{% url 'atividades:consultarRoteiros' %}'">
                <span class="icon is-medium">
                    <i class="mdi fa fa-arrow-left mdi-36px"></i>
                </span>
                <span>Voltar</span>
            </button>
        </div>
    </div>
</div>

<style>
  .label {
  font-weight: normal;
  }
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content %}
