{% extends 'app.html' %}
{% load static %}

{% block load %}
{{ wizard.form.media }}
{% endblock %}

{% block scripts %}

<script>
    $("input").addClass("input");

    function navigate_step(step) {
        const form = $("form")
        form.prepend('<input type="hidden" name="wizard_goto_step" value="' + step + '">');
        $("form").submit();
    }
</script>

{% endblock scripts %}

{% block title %}- Inscrição{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="{% url 'home' %}" class="router-link-active">Início</a></li>
            <li class="is-active"><a href="" class="router-link-exact-active router-link-active">Criar
                    Inscrição Última Hora</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            <div class="step-item is-success is-active">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Registo</p>
                </div>
            </div>
            <div class="step-item is-success {% if visited.1 %}is-completed{% endif %}"
                {% if visited.1 %}onclick="navigate_step('escola')" {% endif %}>
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi {% if individual %}mdi-ballot{% else %}mdi-school{% endif %}"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">{% if individual %}Inscrição{% else %}Escola{% endif %}</p>
                </div>
            </div>
            {% comment %} <div class="step-item is-success {% if visited.2 %}is-completed{% endif %}"
                {% if visited.2 %}onclick="navigate_step('transporte')" {% endif %}>
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-train-car"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Transporte</p>
                </div>
            </div> {% endcomment %}
            <div class="step-item is-success {% if visited.2 %}is-completed{% endif %}"
                {% if visited.2 %}onclick="navigate_step('almoco')" {% endif %}>
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-food-apple"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Almoço</p>
                </div>
            </div>
            <div class="step-item is-success {% if visited.3 %}is-completed{% endif %}"
                {% if visited.3 %}onclick="navigate_step('sessoes')" {% endif %}>
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-calendar-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Sessões</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Submissão</p>
                </div>
            </div>
        </div>
        <hr />
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% comment %} <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                {% if individual %}Dados do Participante Responsável{% else %}Docente Responsável{% endif %}
                <abbr title="Deve fornecer os dados necessários para o contacto do participante ou do responsável"><span
                        class="icon" style="font-size: 1rem"><i class="mdi mdi-help-circle"></i></span></abbr>
            </h2>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="{{ form.nome.id_for_label }}" class="label">Nome</label>
                        <div class="controlis-clearfix">{{form.nome}}</div>
                        {{ form.nome.errors }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="{{ form.email.id_for_label }}" class="label">E-mail</label>
                        <div class="control is-clearfix">{{form.email}}</div>
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="{{ form.tel.id_for_label }}" class="label">Telemóvel/Telefone</label>
                        <div class="control is-clearfix">{{form.tel}}</div>
                        {{ form.tel.errors }}
                    </div>
                </div>
            </div> {% endcomment %}
       <div style="padding: 1rem 2vw 0px;">
                    <hr>
                    <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;">
                    {{perfil}} 
                    </h2>
                    <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label for="id_first_name" class="label">Nome Próprio</label>
                            <div class="control is-clearfix">
                                <input name="first_name" class="input" id="id_first_name" type="text" value="{{ form.first_name.value|default:'' }}" maxlength="255">
                                {% if form.first_name.errors %}
                                    <p class="help is-danger">{{ form.first_name.errors.as_text }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    <div class="field">
                        <label for="id_last_name" class="label">Apelido</label>
                    <div class="control is-clearfix">
                    <input name="last_name"class="input" id="id_last_name" style="" value="{{form.last_name.value|default_if_none:"" }}" type="text" maxlength="255">
                    </div>
                    <!---->
                    </div>
                    </div>
                    
                    <hr>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label for="id_username" class="label">Username</label>
                                <div class="control is-clearfix">
                                    <input name="username" class="input" id="id_username" value="{{ form.username.value|default:'' }}" type="text" maxlength="255" autocomplete="username">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_email" class="label">Email</label>
                                <div class="control is-clearfix">
                                    <input class="input" name="email" id="id_email" type="email" value="{{ form.email.value|default:'' }}" maxlength="255" autocomplete="email">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_contacto" class="label">Contacto</label>
                                <div class="control is-clearfix">
                                    <input name="contacto" class="input" id="id_contacto" type="tel" value="{{ form.contacto.value|default:'' }}" maxlength="255" autocomplete="tel">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label for="id_password1" class="label">Palavra-passe</label>
                                <div class="control is-clearfix">
                                    <input name="password1" id="id_password1" class="input" type="password" maxlength="255" autocomplete="new-password">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_password2" class="label">Confirmação da Palavra-passe</label>
                                <div class="control is-clearfix">
                                    <input name="password2" id="id_password2" class="input" type="password" maxlength="255" autocomplete="new-password">
                                </div>
                            </div>
                        </div>
                    </div>
                    
            {% if form.non_field_errors %}
            <div style="margin: 20px 20px; text-align: center;">
                <div class="message is-danger">
                    <div class="message-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
            {% endif %}
            <hr />
            <div class="column is-8 is-offset-2">
                <div class="level">
                    <div class="level-left">
                        {% if wizards.steps.prev %}
                        <button class="button is-outlined" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
                            <span class=" icon is-small"><i class="mdi mdi-chevron-left"></i></span>
                            <span>Anterior</span>
                        </button>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <button type="submit" class="button is-success is-outlined">
                            <span>Próximo</span>
                            <span class="icon is-medium"><i class="mdi mdi-forward mdi-36px"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}