<tr>
  <input type="hidden" name="{{form_id}}" id="id_{{form_id}}">
  <td data-label="Nome">
      <input type="text" name="{{form_nome}}" class="input" maxlength="16" id="id_{{form_nome}}" required>
  </td>
  <td data-label="Andar">
      <input type="number" name="{{form_andar}}" class="input" max="200" maxlength="255" id="id_{{form_andar}}" required>
  </td>
  <td data-label="Descrição">
      <input type="text" name="{{form_descricao}}" class="input" maxlength="255" id="id_{{form_nome}}">
  </td>
</tr>