{% extends 'app.html' %}
{% block content %}
{% load l10n %}
{% load django_tables2 %}
<div class="columns">
    <div class="column is-3">
        <form method="get">
            <div class="menu">
                <p class="menu-label">Filtros Unidade Organica</p>
                <ul class="menu-list">
                    <div class="field">
                        <!---->
                        <div class="control has-icons-left is-clearfix">
                            <input class='input' id='id_dia' type='date' name='dia' value="{{filter.form.dia.value|default_if_none:''}}" >
                            <span class="icon is-left">
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </span>
                        </div>
                        <!---->
                    </div>
                    <div class="field">
                        <div class="control has-icons-left">
                            <div class="select is-fullwidth">
                                <select name="{{ filter.form.campusid.name }}"
                                    value="{{filter.form.campusid.value}}">
                                    <option value="">Qualquer Campi</option>
                                    {% for value, campus in campi %}
                                        {% if value != "" %}
                                        <option value="{{ value }}"
                                            {% if value|stringformat:'s' == filter.form.campusid.value %} selected
                                            {% endif %}>
                                            {{ campus }}
                                        </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <span class="icon is-left">
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </span>
                        </div>
                    </div>
                </ul>
                <div class='field is-grouped' style='margin-top: 5px'>
                        <p class="control is-expanded">
                            <a type="button" role="button" href="{% url 'configuracao:verMenus' %}" class="button is-light is-fullwidth">Limpar</a>
                        </p>
                        <p class="control is-expanded">
                            <button class="button is-primary is-fullwidth" type="submit">
                                <span class="icon">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <span>Pesquisar</span>
                            </button>
                        </p>
                </div>
            </div>     
        </form>    
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'home' %}">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Menus</a></li>
            </ul>
          </nav>
        <a class="button is-success is-outlined" type="button" style="margin-bottom:0.5rem" href="{% url 'configuracao:novoMenu'%}">     
            <span class="icon is-small">
                <i class="mdi mdi-plus"></i>
            </span>
            <span>Novo Menu</span>
        </a>   

        {% render_table table 'configuracao/verMenusTabela.html' %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}